#container{
  width: 100%;
  height: 600px;
  background-color: beige;
  border: 2px solid black;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

#hdr{
  width: 80%;
  height: 200px;
  background-image: linear-gradient(to right,rgba(133, 244, 236, 0.714),rgba(247, 113, 234, 0.505));
  margin-left: 9%;
}

#dply{
  width: 60%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.344);
  margin-top: 40px;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hdr h3{
  font-size: 1.5rem;
  color: white;
  font-family: ui-sans-serif;
  text-align: center;
  position: relative;
  top: 41px;

}
#input-sec{
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
}

#input-sec input{
  width: 197px;
  height: 26px;
  margin: 8px;
  border-radius: 4px;
  /* margin-right: 150px; */
  /* margin-left:100px ; */
}

#input-sec button{
  width: 112px;
  height: 32px;
  border-radius: 20px;
  font-size: 14px;
  /* margin-left: 150px; */
}

.show{
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 5px;
}

p{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: white;
  text-align: center;
  border-top:2px solid black;
  font-weight: bold;
  font-size: 2rem;
}
.next{
  position: relative;
  top:0px;

}
.anima{
  transition: all 0.5s;
  top:-52px;
}